.home-link {
    text-decoration: none !important;
}

.home-descriptor {
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
}

.home-descriptor:hover {
    background-color: #eee;
}

.home-descriptor h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    color: white;
    background-color: rgba(153,51,51, 0.6);
    font-size: 21px;
}

.home-descriptor h3,p {
    padding-top: 20px;
    margin: auto;
    text-align: center;
}

.custom-navlink {
    font-weight: bold;
}

.nav-rsvp {
    border-radius: 5px;
    color: white !important;
    border: 1px solid #600;
    font-size: 18px;
    background-color: rgba(153,51,51, 0.8);
}

.nav-rsvp:hover {
    color: black !important;
}

.nav-rsvp .nav li a {
    font-size: 18px !important;
}
