body::after {
  content: "";
  background: url("../img/background.jpg");
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.content {
    margin: auto;
    width: 1275px;
    background-color: white;
}

h1 {
  font-family: 'Dancing Script', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.home-link {
    text-decoration: none !important;
}

.home-icon {
    max-height: 100px;
    max-width: 100px;
    display: block;
    margin: auto;
}

.home-descriptor {
    height: 300px;
}

.home-descriptor .descriptor-title {
    display: block;
    margin: auto;
    padding-bottom: 5px;
    font-size: 30px;
}

.home-descriptor h3,p {
    padding-top: 10px;
    margin: auto;
    text-align: center;
}

.custom-navlink {
    font-weight: bold;
}

.nav-rsvp {
    border-radius: 5px;
    color: white !important;
    font-size: 18px;
    background-color: #be1e2d;
}

.nav-rsvp:hover {
    color: black !important;
}

.nav-rsvp .nav li a {
    font-size: 18px !important;
}
