.content {
    margin: auto;
    width: 1275px;
    background-color: white;
}

h1 {
  font-family: 'Dancing Script', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

.emphasized-subheading {
    padding-top: 5px;
    font-size: 40px;
}


.home-link {
    text-decoration: none !important;
}

.home-icon {
    max-height: 100px;
    max-width: 100px;
    display: block;
    margin: auto;
    cursor: pointer;
    cursor: hand;
}

.home-descriptor {
    height: 300px;
}

.home-descriptor .descriptor-title {
    display: block;
    margin: auto;
    padding-bottom: 5px;
    font-size: 30px;
}

.home-descriptor h3,p {
    padding-top: 10px;
    margin: auto;
    text-align: center;
}

.custom-navlink {
    font-weight: bold;
}

.github-links {
    font-size: 10px;
}

.thumbnail-container {
    width: 225px;
    height: 150px;
    overflow: hidden;
}

.photo-thumbnail {
    width: 100%;
    padding-top: 10px;
}

.albumImage img {
    display: block;
    margin: auto;
    margin-bottom: .4rem;
    max-width:800px;
    max-height:600px;
}

.albumImage .photo-caption {
    display: block;
    margin: auto;
    padding-bottom: 5px;
    font-size: 30px;
}

label, select {
    float: right;
    margin-left: 1rem;
}

.wrapper .list {
    list-style: none;
    height: 480px;
    margin-left: 5.6rem;
    overflow-x: auto;
}

.wrapper .list li img {
    width: 140px;
    margin-bottom: 1rem;
    cursor: pointer;
    display: block;
    border: 2px solid #fff;
}

.wrapper .list li img:hover {
    box-shadow: 0px 1px 4px #444;
    transition: all .2s ease-in-out;
    border-color: #fff;
}

.wrapper .list li img:active {
    opacity: .74;
    box-shadow: 0px 1px 8px #666;
}

.nav-rsvp {
    border-radius: 5px;
    color: white !important;
    font-size: 18px;
    background-color: #be1e2d;
}

.nav-rsvp:hover {
    color: #1edec1 !important;
    background-color: #be1e2d !important;
}

.nav-rsvp .nav li a {
    font-size: 18px !important;
}
