<div class = "container">
    <p class="page-header">Our Story</p>
    <div class="row">
        <div class="col-lg-12">
            <div class="about-content-story">
                <p class="descriptor-content">
                    We met at the most romantic spot in Frederick. The #1 date destination in the DMV. We met …at Mirage, Market Street’s one and only run down hookah bar. Erin was there with some friends who she was interning with at the time, and Tym was also there with a friend. The bar was packed, and the only place for Erin and her friends to sit was at Tym’s table. After some expert witty banter, Erin had scored her friends the only empty seats in the place. They knew it was love after they each blew smoke together in the shape of a heart. Just kidding. Their adventurous friendship slowly blossomed into something more and the rest, well, is history.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="about-content">
                <p class="descriptor-title">About the Wedding</p>
                <p class="descriptor-content">Thorncreek Winery<br/>Aurora, OH</p>
                <p>Ceremony time: Evening<br/>Good Eats, Good Tunes and Good Times to follow.</p>
                <p>Dress to impress, but not for the best!</p>
                <p>Keep in mind this will be an <strong>outdoor</strong> Wedding.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="about-content">
                <p class="descriptor-title">Where to Stay</p>
                <p class="descriptor-content">
                    We have a block of rooms at the Bertram Inn. Reservations must be made no later than July 19, 2016. <br/>
                    Make sure to mention the Schwartz/Butler wedding block when you call to get our special rate!
                </p>
                <p class="descriptor-content">
                    <strong>The Bertram Inn</strong><br/>
                    (330) 995-0200<br/>
                    <a href="http://www.thebertraminn.com/">Bertram Inn Homepage</a><br/>
                </p>
                <p class="descriptor-content">
                    Additional Info:
                    <ul>
                        <li>A shuttle will be provided to and from the wedding for hotel guests!</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="about-content">
                <p class="descriptor-title">What to Do</p>
                <p class="descriptor-content">
                    Looking to get into some local shenanigan-ing? There’s lots to do! Here are some of our suggestions.
                    <ul>
                        <li><a href="http://www.premiumoutlets.com/outlets/outlet.asp?id=8">Aurora Farms (nice outdoor shopping mall)</a></li>
                        <li><a href="http://yourhometownchagrinfalls.com">Chagrin Falls (quaint town with lots of fun shops and a waterfall you can walk down to)</a></li>
                        <li><a href="https://www.caesars.com/horseshoe-cleveland">Horseshoe Cleveland Casino</a></li>
                        <li><a href="http://www.rockhall.com">Rock and Roll Hall of Fame</a></li>
                        <li><a href="http://www.profootballhof.com">Pro Football Hall of Fame</a></li>
                        <li><a href="https://www.cedarpoint.com">Cedar Point</a></li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>