<div class = "container">
    <div class="row">
        <div class="col-lg-12">
            <div class="about-content">
	            <p class="descriptor-title">Our Story</p>
	            <p class="descriptor-content" style="font-size:16px">We met at the most romantic spot in Frederick. The #1 date destination in the DMV. We met …at Mirage, Market Street’s one and only run down hookah bar. Erin was there with some friends who she was interning with at the time, and Tym was also there with a friend. The bar was packed, and the only place for Erin and her friends to sit was at Tym’s table. After some expert witty banter, Erin had scored her friends the only empty seats in the place. They knew it was love after they each blew smoke together in the shape of a heart. Just kidding. Their adventurous friendship slowly blossomed into something more and the rest, well, is history.</p>
	        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="about-content">
		        <p class="descriptor-title">About the Wedding</p>
		        <p class="descriptor-content">Thorncreek Winery<br/>Aurora, OH</p>
		    	<p>Ceremony X:XX pm<br/>Good Eats, Good Tunes and Good Times to follow!</p>
				<p>Dress to impress, but not for the best! Keep in mind this will be an outdoor Wedding.</p>
	        </div>
	    </div>
        <div class="col-lg-4">
            <div class="about-content">
	            <p class="descriptor-title">Where to Stay</p>
	            <p class="descriptor-content">
	            	We have a block of rooms at [Hotel Name]. Reservations must be made no later than [Date]. <br/>
					Make sure to mention the Schwartz/Butler wedding block when you call to get our special rate!
				</p>
	            <p class="descriptor-content">
					[Hotel Name]<br/>
					[Hotel Phone Number]<br/>
					[Hotel Link]<br/>
				</p>
				<p class="descriptor-content">
					Additional Info:
					<ul>
						<li>(put info about shuttle?)</li>
						<li>(anything else I can think of)</li>
					</ul>
	            </p>
	        </div>
        </div>
        <div class="col-lg-4">
            <div class="about-content">
	            <p class="descriptor-title">What to Do</p>
	            <p class="descriptor-content">
	            	Looking to get into some local shenanigan-ing? There’s lots to do! Here are some of our suggestions.
					<ul>
						<li>Aurora Farms (nice outdoor shopping mall)</li>
						<li>Chagrin Falls (quaint town with lots of fun shops and a waterfall you can walk down to)</li>
						<li>Horseshoe Cleveland Casino</li>
						<li>Pro Football Hall of Fame</li>
						<li>Cedar Point</li>
					</ul>
				</p>
	        </div>
        </div>
    </div>
</div>