<div class="container" ng-controller = "HomeController">
    <div class="row">
        <div class="col-lg-3">
            <a class="home-link" href="home.html#!/rsvp">
                <div class="home-descriptor">
                    <img class="home-icon" src="../img/rsvp-icon.png">
                    <p class="descriptor-title">RSVP</p>
                    <p class="descriptor-content">Claim your spot at the greatest event of 2016!  You will need the RSVP code provided with your invitation.</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a class="home-link" href="home.html#!/about">
                <div class="home-descriptor">
                    <img class="home-icon" src="../img/about-icon.png">
                    <p class="descriptor-title">The Wedding</p>
                    <p class="descriptor-content">Your stop for ceremony and reception times, hotel information, venue information, nearby activities and more!</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a class="home-link" href="home.html#!/photos">
                <div class="home-descriptor">
                    <img class="home-icon" src="../img/photo-icon.png">
                    <p class="descriptor-title">Photos</p>
                    <p class="descriptor-content">We got all dressed up and looking good for a photoshoot.  Check us out!</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3">
            <a class="home-link" href="home.html#!/registry">
                <div class="home-descriptor">
                    <img class="home-icon" src="../img/registry-icon.png">
                    <p class="descriptor-title">Registry</p>
                    <p class="descriptor-content">We chose a few items that will help us get started.  Take a look and see how you can help us start a life together.</p>
                </div>
            </a>
        </div>
    </div>
</div>