<div class="container" ng-controller = "PhotoController">
    <div class="popup-container" ng-show="popup_window.show">
        <div class="photo-display">
            <div class="previous-photo-arrow" ng-click="getPreviousPhoto()">
                <img src="../img/arrow-bold-left.jpg" />
            </div>
            <div class="next-photo-arrow" ng-click="getNextPhoto()">
                <img src="../img/arrow-bold-right.jpg" />
            </div>
            <img ng-src="{{current_photo.full_url}}" />
            <div class="row">
                <span class="image-caption">{{current_photo.caption}}</p>
            </div>
            <div class="row">
                <span class="close-image" ng-click="closePhoto()">Close</span>
            </div>
        </div>
    </div>

    <div class="row" ng-show="photo_list.length == 0">
        <p>Loading photos...</p>
    </div>

    <div class="row" ng-show="photo_list.length > 0">
          <div class="col-xs-12">
            <div ng-repeat="photo in photo_list">
                <!-- This should only work because the content container width from the parent is rigid.  Find a better way.  -->
                <div class="col-sm-4 thumbnail-container">
                    <img class="photo-thumbnail" ng-src="{{photo.full_url}}" alt="{{photo.caption}}" ng-click= "setCurrentPhoto(photo)"/>
                </div>
            </div>
        </div>
    </div>
</div>